<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hypothesis 2</title>
    <meta name="Hypothesis 1" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<header>
    <h1>Title</h1>
</header>

<section>
    <nav>
        <ul>
            <li><a href="index.html">Home Page</a></li>
            <li><a href="html/hyp1.html">Hypothesis 1</a></li>
            <li><a href="html/hyp2.html">Hypothesis 2</a></li>
            <li><a href="html/hyp3.html">Hypothesis 3</a></li>
            <li><a href="html/prototype.html">Prototypes</a></li>
            <li><a href="html/references.html">References</a></li>
            <li><a href="html/about.html">About the Authors</a></li>
        </ul>
    </nav>
    <article id="homepage">
        <h1>Holder:</h1>
        <p>
        </p>
        
    </article>
</section>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <script src="" async defer></script>
</body>
<footer><p>
    <img src="imgs/US-Census-Bureau-2048x1074.jpg" alt="US Census Bureau" width="200" height="100">
</p></footer>

</html>